<ng-container class= "emptyListText" *ngIf= "allItems.length === 0; else displayItems" >
    <h1>To do list is currently empty. Please add new item.</h1>
</ng-container>
<ng-template #displayItems>
    <table  class = "listItems" *ngFor="let item of allItems; index as i"> 
        <tr >
            <td ><a [routerLink]="['/protected/items',item.id]" [state]="{item:item}">{{item.title}}</a></td>
        </tr>
        <div class ="save-cancel-button-container">
            <button class="primary-button" (click) = "editItem(item.id)">Edit</button>
            <button  class="return-button"(click) = "deleteItem(item.id)">Delete</button>
        </div>
    </table>
    </ng-template>