<app-nav-bar></app-nav-bar>
<div class="form-container">
    <form class="k-form" [formGroup]="registerForm">
        <fieldset class="k-form-fieldset">
            <kendo-formfield >
                <kendo-label [for]="title"
                 text="Title">
                </kendo-label>
                <input id ='title' 
                formControlName="title"
                 kendoTextBox
                 autofocus
                  #title
                   required />
                <kendo-formerror> Title and Content required
                </kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label 
                [for]="content"
                 text="Content">
                </kendo-label>
                <textarea  
                 id ='content'
                  formControlName="content" 
                  kendoTextBox 
                  #content 
                  required></textarea>
                  <kendo-formerror > Title and Content required</kendo-formerror>
            </kendo-formfield>

            <div class="save-cancel-button-container">
                <button type="button"
                  kendoButton [primary]="true"
                  class="input-save-button"
                  (click)="submitForm()">
                  Submit
                </button>
                <button class="return-button"
                 (click)="returnToHomePage()">
                 Return
                </button>
            </div>
        </fieldset>
    </form>
</div>