.item-details {
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    .item-details-title {
        text-align: center;
        margin-top: 15vh;
    }
    .item-details-content {
        text-align:left;
        margin-left: 10px;
    }
    .return-button {
        background-color:rgb(84, 102, 119);
        color:white;
        height: 25px;
        width: 100px;
        margin-left: 10px;
        border: none;
        border-radius: 5px;

    }
    .save-button {
        background-color: black;
        color:white;
        height: 25px;
        width: 100px;
        margin-left: 10px;
        border: none;
        border-radius: 5px;
       }

}