<div class="example-wrap">
    <form class="k-form" [formGroup]="registerForm">
        <fieldset class="k-form-fieldset">
            <kendo-formfield>
                <kendo-label [for]="title" text="Title"></kendo-label>
                <input formControlName="title" kendoTextBox #title required />
                <kendo-formerror> Title is required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label [for]="content" text="Content"></kendo-label>
                <textarea formControlName="content" kendoTextBox #content required></textarea>
                <kendo-formerror> Contentis required</kendo-formerror>
            </kendo-formfield>

            <div class="save-cancel-button-container">
                <button type="button" class="input-save-button " (click)="submitForm()">Submit</button>
                <button class="cancel-button" (click)="clearForm()">Clear</button>
            </div>
        </fieldset>
    </form>
</div>