<div class="example-wrap">
    <form class="k-form" [formGroup]="registerForm">
        <fieldset class="k-form-fieldset">
            <kendo-formfield >
                <kendo-label [for]="title" text="Title"></kendo-label>
                <input id ='title' formControlName="title" kendoTextBox #title required />
                <kendo-formerror> Title and Content required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label [for]="content" text="Content"></kendo-label>
                <textarea  
                 id ='content'
                  formControlName="content" 
                  kendoTextBox 
                  #content 
                  required></textarea>
                  <kendo-formerror > Title and Content required</kendo-formerror>
            </kendo-formfield>

            <div class="save-cancel-button-container">
                <button type="button"
                 class="input-save-button"
                  (click)="submitForm()"
                  [disabled]="!this.registerForm.valid"
                 >Submit</button>
                <button class="cancel-button" (click)="returnToHomePage()">Return</button>
            </div>
        </fieldset>
    </form>
</div>